@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --color-gray: #6c757d;
    --color-primary: #3BB77E;
    --color-search-border: #BCE3C9;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
