@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --color-gray: #7E7E7E;
    --color-primary: #3BB77E;
    --color-button-hover: #198754;
    --color-search-border: #BCE3C9;
    --color-white: #fff;
    --color-text: #253D4E;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
